body{
    font-size: 99%;
    background-image: url("kepek/cs2.jpg");
}

h1{
    font-weight: bold;
    text-align: center;
    margin: 22px;
}

p{
    text-align: justify;
    margin-left: 8px;
    margin-right: 18px;
}

nav{
    background-color: black;
    margin-top: 5px;
    margin-bottom: 5px;
}


table{
    border: 2px solid black;
    margin: 10px;
}

.card_nevek{
    text-align: center;
}


.mapok{
    max-width: 1300px;
    margin: auto;

}


.verseny{
    margin: 10px;
    max-width: 500px;
}



