body{
    font-size: 99%;
    background-image: url("kepek/cs2_hatter.jpg");
    overflow-x: hidden;
    color: white;
}

h1{
    font-weight: bold;
    text-align: center;
    margin: 22px;
}

p{
    text-align: justify;
    margin-left: 8px;
    margin-right: 18px;
}

nav{
    background-color: black;
    margin-top: 5px;
    margin-bottom: 5px;
}

.szin{
    color: white;
}

table{
    border: 2px solid white;
    margin: 10px;
    border-collapse:collapse;
    text-align: center;
}

td, th{
    border: 2px solid white;
}


.card_nevek{
    text-align: center;
}


.mapok{
    max-width: 1300px;
    margin: auto;

}


.verseny{
    margin: 10px;
    max-width: 500px;
}

.versenyek_cardjai{
    height: 30rem;
    background-color: black;
    border: 2px solid white;
}

.jatekosok_cardjanak_magassaga{
    height: 50rem;
    margin: 15px;
    background-color: black;
    border: 2px solid white;
}


.link{
    text-align: center;
    margin: 15px;
    text-decoration: none;
}

.link a{
    color: white;
    text-decoration: none;
    font-size: 150%;
}

